MtgDataAggregator/MtgDataAggregatorWithoutHelp/Config/db.ini
MtgDataAggregator/MtgDataAggregator/Config/db.ini
pgAdmin/docker-compose.yml
MtgDataAggregator/MtgDataAggregatorWithAssistance/Config/db.ini
